.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.6rem 1.2rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  border: 1px solid #28a745;
  color: #28a745;
  background-color: white;
}

.button:hover {
  background-color: #f1f8f4;
}

.previousNext {
  background-color: #28a745;
  color: white;
}

.previousNext:hover {
  background-color: #218838;
}

/* Disabled button styling */
.button:disabled {
  background-color: #d4d4d4;
  color: #aaa;
  cursor: not-allowed;
}

/* Apply the active style for the "Previous" and "Next" buttons */
.previousNext:disabled {
  background-color: #d4d4d4;
  border: 1px solid #ccc;
  color: #aaa;
}

/* Style the page info */
.pageInfo {
  font-size: 1rem;
  font-weight: 500;
}
